@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@800&display=swap');

* {
    /* font-family: "Poppins", sans-serif; */
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 95vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 95vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.77;
}

nav {
    justify-content: space-between;
    max-width: 77vw;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

body {
    background-color: black;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(94% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 5px;
    padding: 0px 30px;
}

.hero .watch {
    padding-top: 90px;
    font-family: "Poppins", sans-serif;
    font-size: 51px;
    font-weight: 900;
    max-width: 43vw;
    text-align: center;
    /* margin-bottom: 50px; */
}

.hero .pay {
    font-family: "Martel Sans", sans-serif;
    /* font-weight: 300; */
    font-size: 19px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 17px;
}

.hero .cancel {
    font-family: "Martel Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

.curve-container {
    box-sizing: border-box;
}

.line {
    color: red;
    display: flex;
    width: 120%;
    left: -10%;
    align-items: center;
    border: solid .25rem transparent;
    /* border: 2px solid black; */
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    margin: 50px 0px;
    /* background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black; */
    background-clip: padding-box;
}

.line::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgb(40, 15, 27) 14%, rgba(184, 40, 105, 1), rgb(232, 10, 21), rgb(189, 35, 104), rgb(54, 22, 36) 84%);
}

.btn {
    /* font-weight: 200; */
    padding: 3px 10px;
    border-radius: 4px;
    /* border: none; */
    cursor: pointer;


}

.btn-red-sm {
    font-weight: 600;
    background-color: red;
    color: white;
    padding: 7px 11px;
    border: none;
    text-decoration: none;
    font-size: 15px;
}

.btn-red {
    margin-top: 3px;
    background-color: red;
    color: white;
    padding: 12px 24px;
    font-size: 22px;
    font-weight: 700;
    border: none;
    margin-bottom: 5px;
}

.main input {
    color: white;
    font-size: 15px;
    font-weight: 700;
    /* border: none; */
    padding: 20px 163px 13px 15px;
    ;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.6);
    text-align: center;
    border: 1px solid rgba(188, 178, 178, 0.7);
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.heading {
    /* display: flex;
    align-items: center; */
    max-width: 80vw;
    margin: auto;
    padding: 32px 0px;
    font-family: unset;
}

.heading h2 {
    color: white;
    font-size: 25px;
    /* text-align: center; */
}

.scroll-animation {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 5px;
    max-width: 95vw;
    margin: auto;
    cursor: pointer;
}

.card {
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.horizontal {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scroll-animation>.horizontal>.card>img:hover {
    width: 100%;
    transition: transform 0.4s;
    transition-timing-function: linear;
}

.horizontal:hover {
    animation-play-state: paused;
}

.scroll-animation>.horizontal>.card>img:hover {
    transform: translatey(-5px);
}

/* .horizontal:hover{
    tra
} */
.section {
    /* display: flex; */
    /* align-items: center; */
    margin-top: 33%;
    font-family: unset;
}

h2 {
    color: white;
    margin-left: 10%;
    font-family: unset;

}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.cart {
    width: 245px;
    height: 340px;
    margin: 10px;
    border-radius: 20px;
    background: linear-gradient(120deg, #192247 0%, #210e17 96.86%);
}

h3 {
    color: white;
    padding: 20px 0 10px 20px;
    font-size: 25px;
}

.para {
    color: rgba(255, 255, 255, 0.729);
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}

section>h2 {
    font-size: 25px;
    /* padding-top: 30px; */
    font-family: unset;
}

.faq-box {
    transition: all 1s ease-out;
    /* font-family: ; */
    display: flex;
    background-color: rgb(45, 45, 45);
    padding: 18px;
    max-width: 74vw;
    margin:10px auto;
    font-size: 25px;
    font-weight: 500;
    justify-content: space-between;
}

.faq {
    cursor: pointer;
     /* font-family: "Poppins", sans-serif; */
    padding: 25px;
    background-color: black;
    color: white;
}
.faq-box:hover{
    background-color: rgb(27, 26, 26);
}
.contact{
    color: white;
}
div .watch{
      text-align: center;
    max-width: 86vw;
    margin:10px auto;
    font-size: 17px;   
}
.contact-button{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact input{
     color: white;
    font-size: 15px;
    font-weight: 700;
    /* border: none; */
    padding: 20px 340px 13px 15px;
    ;
    border-radius: 5px;
    background-color: rgba(22, 22, 22, 0.7);
    text-align: center;
    border: 1px solid rgba(188, 178, 178, 0.7);
}
footer{
    margin-bottom: 50px;
}
.footer-item{
    /* max-width: 70vw; */
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
    margin: 20px;

}
/* .footer-item{
    display: flex;
    flex-direction: column;
} */
footer a{
    text-decoration: none;
    color: rgb(192, 192, 192);
}
.seperation{
    margin: 20px 0;
    background-color: gray;
    height: 5px;
    /* width: ; */
}
